<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue v-if e v-show</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css'
        integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
        crossorigin='anonymous' />


</head>

<body>

    <div id="app">
        <div class="text-center">
            <h1 v-show="nome && cognome">Ciao: {{ `${nome} ${cognome} ` }}</h1>
            <!-- <h1 v-else-if=" cognome ">Solo il cognome: {{cognome}}</h1> -->
            <h1 v-else >test</h1> 
        </div>

        <hr>

        <div>
            <h2>lista nomi</h2>
            <ul>
                <li :class=" [classiCustom1, classiCustom2] " v-for="(element, index) in arrayNomi">posizione: {{index}} {{ element }}</li>
            </ul>

            <hr>

            <!-- <h2>numeri da 100 a 1</h2> -->
            <!-- Lista numeri -->
            <!-- <ul>
                <li v-for="x in numeriReverse.reverse()">{{ x }}</li>
            </ul> -->
            
            <h2>numeri da 1 a 100</h2>
            <!-- Lista numeri -->
            <ul>
                <li v-for="x in numeroMax">{{ x }}</li>
            </ul>

            <hr>

            <h2>Esempio reattività</h2>
            <span>{{ riassegna() + A1 }}</span>
            <span>{{ test() }}</span>

        </div>
    </div>


    <script src="https://unpkg.com/vue@3"></script>

    <script src="./main.js"></script>
</body>

</html>