*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

header{
    /* padding: 10px 20px; */
    background-color: lightcyan;
    padding-bottom: 50px;
}

header nav{
    background-color: lightcoral;

    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

header nav figure,
header nav ul,
header nav a{
    background-color: lightgoldenrodyellow;
    border: 1px dashed black;
}

header nav ul{
    display: flex;
    gap: 10px;
}

header nav ul li{
    /* display: inline-block; */

    list-style-type: none;
}

#cta{
    background-color: lightpink;
    width: 60%;
    margin: 50px auto 0 auto;

    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}

section{
    border: 1px dashed black;
    padding-block: 20px;
    /* background-color: black; */
}

section figure{
    background-color: lightgoldenrodyellow;
}

section .section-text{
    background-color: lightgreen;
}

section .img-text{
    display: flex;
}

section .img-text figure{
    flex-basis: 70%;
}

section .img-text .section-text{
    flex-basis: 30%;
}

section.discord-services:nth-child(even){
    background-color: lightgray;
}

section.discord-services:nth-child(even) .img-text figure{
    order: 1;
}

section.discord-services:last-child{
    text-align: center;
}


footer{
    background-color: #121212;
    color: white;
}

footer ul li{
    list-style-type: none;
}

footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer .container > div{
    flex-grow: 1;
}

footer .container>div:first-child{
    flex-grow: 2;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
}