<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue intro</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css' integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==' crossorigin='anonymous'/>

    <link rel="stylesheet" href="./style.css">

</head>
<body>

    <div id="app">
        {{ message }}

        <ul>
            <li class="col" v-for="element in items">
                <span
                v-bind:class=" (numero > 50) ? classeCustom : 'pippo' "
                class="text-uppercase text-primary">
                    {{ element.text }}
                </span>
            </li>
        </ul>

        <p>{{ nomeFunzione() }}</p>

        <button @click="aumentaNumero">Contatore</button>
        <h2>
            {{ numero }}
        </h2>

        <!-- v-model -->
        <input type="text" v-model="message">
    </div>

    
    <script src="https://unpkg.com/vue@3"></script>

    <script src="./main.js"></script>
</body>
</html>