<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css'
        integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
        crossorigin='anonymous' />

        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css' integrity='sha512-tx5+1LWHez1QiaXlAyDwzdBTfDjX07GMapQoFTS74wkcPMsI3So0KYmFe6EHZjI8+eSG0ljBlAQc3PQ5BTaZtQ==' crossorigin='anonymous'/>


    <link rel="stylesheet" href="./style.css">
</head>

<body>

    <div id="app">


        <h1 class="text-center">Todo List</h1>
    
        <main class="container">
            <div class="row align-items-end">
                <div class="col-9">
                    <label for="" class="form-label">Nuova Task</label>
                    <input
                        type="text"
                        class="form-control"
                        name="task"
                        id="task"
                        aria-describedby="new task"
                        placeholder="Nuova Attività da fare..."
                        v-model="newTask"
                        @keyUp.enter="addTask"
                    />
                </div>
                <div class="col-3">
                    <button
                        class=" btn btn-primary"
                        @click="addTask">Aggiungi</button>
                </div>
            </div>
    
            <div class="bg-light text-dark rounded p-3 mt-5">
                <div class="pb-1 d-flex flex-column ">
                    <div
                        v-if="tasks.length !== 0"
                        v-for="(element, index) in tasks"
                        :key="index"
                        class="d-flex justify-content-between border-bottom mt-3">
                        <p class="text-capitalize">
                            {{ element }}
                        </p>
                        <span>
                            <i @click="removeTask(index)" class="fa-solid fa-xmark text-danger"></i>
                        </span>
                    </div>
                    <div v-else>
                        <h2>Non ci sono tasks 😒</h2>
                    </div>
                </div>
            </div>
        </main>

    </div>    

    <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js'
        integrity='sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=='
        crossorigin='anonymous'></script>

        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>

    <script src="./main.js"></script>
</body>

</html>