* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}


.box {
    height: 500px;
    width: 500px;
    /* transition: all 5s ease 2s; */
    background-color: red;

    /* animation-name: change;
    animation-duration: 2s; */
    /* animation-iteration-count: infinite; */
}

.box:active {
    animation-name: change, boxWidth;
    animation-duration: 2s;
}

